<div class="container">

  <table>
    <tr>
      <th>Close Date</th>
      <th>Number</th>
      <th>NTO</th>
    </tr>

    <% @opportunities.each do |opportunity| %>
      <tr>
        <td><%= opportunity.closedate %></td>
        <td><%= opportunity.name %></td>
        <td><%= opportunity.NTO__C %></td>
      </tr>
    <% end %>
  </table>

</div>
